# Dependencias y módulos
/node_modules
/.pnp
.pnp.js

# Entornos y variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs y caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/.eslintcache

# Directorios de producción
/build
/dist
/out

# Configuraciones IDE/Editor
/.idea
/.vscode
/.vs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos del sistema
.DS_Store
Thumbs.db